<div class="logo">
</div>

<div class="navbar">
</div>

<div class="sidebar" style="display: flex; justify-content: center;">
  <button (click)="landingpage()" style="margin-right: 10px;">Home</button>
  <button (click)="placeAppointment()" style="margin-right: 10px;">Place Appointment</button>
  <button (click)="viewAppointment()" style="margin-right: 10px;">View Appointment</button>
  <button (click)="contactUspage()" style="margin-right: 10px;">Contact Us</button>
</div>

<br><br>

<router-outlet></router-outlet>

<footer style="position: fixed; bottom: 0; left: 0; width: 100%; background-color: #f0f0f0;">
  <div style="display: flex; ">
    <div style="flex: 1;margin-right: 100px;">
      <h3>Useful Links</h3>
      <ul>
        <li><a (click)="landingpage()">Home</a></li>
        <li><a (click)="viewAppointment()">View Appointments</a></li>
        <li><a (click)="placeAppointment()">Place Appointment</a></li>
        <li><a (click)="contactUspage()">Contact Us</a></li>
      </ul>
    </div>
    <div style="flex: 1;">
      <h3>Contact</h3>
      <ul>
        <li>Company Address: [Address]</li>
        <li>Company Email: [Email]</li>
        <li>Company Phone: [Phone]</li>
        <li>Company Fax: [Fax]</li>
      </ul>
    </div>
  </div>
  <div>
    <p>&copy; 2024 Your Company Name. All rights reserved.</p>
  </div>
</footer>
